{% extends 'layout.html' %}
{% block body %}

<h2>Incompleted Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == False %}
        {{ task.name }}
        <br>
        <form action ="{{url_for('update', id=task.id) }}">
        <input type =submit value="Update">
    </form>
    <form action ="{{url_for('delete', id=task.id) }}">
        <input type =submit value="Delete">
    </form>
    <form action="{{url_for('status', id=task.id, newstatus=True) }}">
        <input type=submit value="Task Complete">
    </form>
    <br>
    {% endif %}
{% endfor %}


<h2>Complete Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == True %}
        {{ task.name }}
        <br>
        <form action ="{{url_for('update', id=task.id) }}">
            <input type =submit value="Update">
    </form>
    <form action ="{{url_for('delete', id=task.id) }}">
        <input type =submit value="Delete">
    </form>
    <form action="{{url_for('status', id=task.id, newstatus=False) }}">
        <input type=submit value="Task Incomplete">
    </form>
    <br>
    {% endif %}
{% endfor %}


{% endblock body %}